@{
    ViewData["Title"] = "Home Page";
    string title = "Welcome Burak YAZIRLI";
    var description = "My First MVC Web Application";
}

<div class="text-center">
    <h1 class="display-4">@title</h1>
    <p>@description</p>
</div>
